.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;
}

.product:hover {
  transform: scale(1);
}

.product__info {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background: #238dcd;
  border: 1px solid;
  margin-top: 10px;
  border-color: #238dcd #1e7cb6 #185d88;
  color: #fefefe;
}

.product__rating {
  display: flex;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
